<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragment::header"/>
<title>博客首页</title>
<body>
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<h3>
					<em><small><span class="marker"><strong>俞志君的博客</strong></span></small></em>
				</h3>
			</div>
			<div class="col-md-8">
<!-- 				<iframe style="float:right" width="420" scrolling="no" height="60" frameborder="0"
				allowtransparency="true"
				src="http://i.tianqi.com/index.php?c=code&id=12&icon=1&num=5"></iframe> -->
			</div>
		</div>
		
		<div class="row" style="padding-top: 10px">
			<div class="col-md-12">
				<!-- 这是一个导航栏 -->
				<nav class="navbar navbar-default">
					<!-- 固定格式 -->
					<div class="container-fluid">				    
						<!-- Collect the nav links, forms, and other content for toggling -->
						<!-- <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"> -->
							<!-- 导航元素，是以列表做出来的 -->
							<ul class="nav navbar-nav">
								<li class="active"><a class="navbar-brand" href="#">博客首页</a></li>
								<li><a class="navbar-brand" href="#">我的相册</a></li>
								<li><a class="navbar-brand" href="#">资源分享</a></li>
								<li><a class="navbar-brand" href="#">学习心得</a></li>
							</ul>
							<form class="navbar-form navbar-right" role="search">
								<div class="form-group">
									<input type="text" class="form-control" placeholder="请输入要查询的关键字">
								</div>
								<button type="submit" class="btn btn-default">搜索</button>
							</form>
						<!-- </div>/.navbar-collapse -->
					</div><!-- /.container-fluid -->
				</nav>
			
			</div>
		</div>

		<div class="row">
			<div class="col-md-3">
				<div class="row">
					<div class="col-md-12">
						<p>
							<span>个人信息</span>
						</p>
						<ul>
							<li>
								姓名
							</li>
							<li>
								性别
							</li>
							<li>
								年龄
							</li>
							<li>
								邮箱
							</li>

						</ul>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<p>
							<span>文章分类</span>
						</p>
						<ul>
							<li>
								<span><a href="#">spring</a></span>
							</li>
							<li>
								<a href="#">springboot</a>
							</li>
							<li>
								<a href="#">mybatis</a>
							</li>
							<li>
								<a href="#">数据结构</a>
							</li>
							<li>
								<a href="#">JVM虚拟机</a>
							</li>

						</ul>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<p>
							<span>文章存档</span>
						</p>
						<ul>
							<li>								
								<a href="#">2017年03月 (6)</a>
							</li>
							<li>
								<a href="#">2017年02月 (4)</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-9">
				<div class="page-header">
					<h3>
						<em><span class="marker">最近博客</span></em>
					</h3>
				</div>
				<div class="row">
					<div class="col-md-12">
						<h2>
							<a href="#">
								SpringBoot Mybatis Web开发与学习(五)
							</a>
						</h2>
						<p>
							本可视化布局程序在HTML5浏览器上运行更加完美, 能实现自动本地化保存, 即使关闭了网页, 下一次打开仍然能恢复上一次的操作.
						</p>
						<p>
							<a class="btn" href="#">查看全文 »</a>
						</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<h2>
							<a href="#">
								SpringBoot Mybatis Web开发与学习(四)
							</a>
						</h2>
						<p>
							本可视化布局程序在HTML5浏览器上运行更加完美, 能实现自动本地化保存, 即使关闭了网页, 下一次打开仍然能恢复上一次的操作.
						</p>

						<p>
							<a class="btn" href="#">查看更多 »</a>
						</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<h2>
							<a href="#">
								SpringBoot Mybatis Web开发与学习(三)
							</a>
						</h2>
						<p>
							本可视化布局程序在HTML5浏览器上运行更加完美, 能实现自动本地化保存, 即使关闭了网页, 下一次打开仍然能恢复上一次的操作.
						</p>

						<p>
							<a class="btn" href="#">查看更多 »</a>
						</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<h2>
							<a href="#">
								SpringBoot Mybatis Web开发与学习(二)
							</a>
						</h2>
						<p>
							本可视化布局程序在HTML5浏览器上运行更加完美, 能实现自动本地化保存, 即使关闭了网页, 下一次打开仍然能恢复上一次的操作.
						</p>

						<p>
							<a class="btn" href="#">查看更多 »</a>
						</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<h2>
							<a href="#">
								SpringBoot Mybatis Web开发与学习(一)
							</a>
						</h2>
						<p>
							本可视化布局程序在HTML5浏览器上运行更加完美, 能实现自动本地化保存, 即使关闭了网页, 下一次打开仍然能恢复上一次的操作.
						</p>

						<p>
							<a class="btn" href="#">查看更多 »</a>
						</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12" style="text-align: center;">
						<ul class="pagination pagination-centered">
							<li><a href="#">&laquo;</a></li>
							<li><a href="#">1</a></li>
							<li><a href="#">2</a></li>
							<li><a href="#">3</a></li>
							<li><a href="#">4</a></li>
							<li><a href="#">5</a></li>
							<li><a href="#">&raquo;</a></li>
						</ul>
						

					</div>
				</div>
			</div>
		</div>




		<div class="row">
			<div class="col-md-12">
			</div>
		</div>
	</div>


</body>



</html>